@charset "UTF-8";
/*Colors:*/
/*Layout:*/
/* line 12, ../scss/layout.scss */
body {
  height: 100%;
}

@font-face {
  font-family: 'myfont';
  src: url("Sawyers Whitewash.otf") format("truetype");
}
/*Mobile*/
/* line 24, ../scss/layout.scss */
.game-box {
  margin: 30px auto;
  width: 600px;
  height: 875px;
}

/* line 30, ../scss/layout.scss */
.header {
  margin: 0 0;
  background-position-x: 50px;
  width: 100%;
  height: 150px;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
}
/* line 40, ../scss/layout.scss */
.header #musicButton {
  width: 50px;
  height: 50px;
  font-size: 0.5em;
  margin: 10px 10px;
  float: left;
}
/* line 47, ../scss/layout.scss */
.header .showUser {
  float: right;
  width: 200px;
  margin-right: 30px;
  margin-top: 95px;
}
/* line 52, ../scss/layout.scss */
.header .showUser #helloUser {
  margin-left: 37px;
  font-size: 14px;
  float: left;
}
/* line 57, ../scss/layout.scss */
.header .showUser #dropdownLogout {
  float: right;
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

/* line 66, ../scss/layout.scss */
.content {
  width: 100%;
  height: 725px;
  margin: 0;
  position: relative;
}

/*menu                  GameState: 0*/
/* line 76, ../scss/layout.scss */
.logoutMenu h1 {
  margin-top: 270px;
  margin-left: 150px;
}
/* line 80, ../scss/layout.scss */
.logoutMenu p {
  margin-top: 10px;
  margin-left: 150px;
}

/* line 87, ../scss/layout.scss */
.startMenu {
  height: 725px;
  width: 100%;
  position: relative;
}
/* line 91, ../scss/layout.scss */
.startMenu .fld {
  margin-top: 15px;
  width: 100%;
  height: 28%;
}
/* line 96, ../scss/layout.scss */
.startMenu .ftxt {
  font-family: myfont, serif;
  color: #d5b961;
  font-size: 1.5em;
  font-weight: bold;
  height: 100%;
  width: 50%;
  float: right;
  padding-top: 35px;
  text-align: center;
}
/* line 108, ../scss/layout.scss */
.startMenu .fbtn {
  float: left;
  height: 100%;
  width: 50%;
}
/* line 114, ../scss/layout.scss */
.startMenu .playSign {
  width: 230px;
  height: 360px;
  position: absolute;
  top: 140px;
  right: 120px;
}

/*player Select         GameState: 1*/
/* line 126, ../scss/layout.scss */
.pselect .farmer {
  position: absolute;
  bottom: 200px;
  left: 50px;
  height: 300px;
  width: 200px;
}
/* line 132, ../scss/layout.scss */
.pselect .farmer:hover, .pselect .roboFarmer:hover {
  background-color: rgba(71, 255, 0, 0.25);
  border: 5px solid rgba(41, 255, 0, 0.5);
  border-radius: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
/* line 139, ../scss/layout.scss */
.pselect .roboFarmer {
  position: absolute;
  bottom: 200px;
  right: 50px;
  height: 300px;
  width: 200px;
}

/*playground select     GameState: 2*/
/* line 155, ../scss/layout.scss */
.pgselect .playerfield {
  width: 540px;
  height: 315px;
  position: absolute;
  top: 195px;
  right: 30px;
}
/* line 163, ../scss/layout.scss */
.pgselect .überschrift {
  padding-top: 30px;
  text-align: center;
}
/* line 168, ../scss/layout.scss */
.pgselect .infoLine {
  padding-top: 20px;
  float: right;
  margin-right: 90px;
  font-size: 2.5em;
  color: brown;
  font-family: myfont, serif;
}
/* line 177, ../scss/layout.scss */
.pgselect .infobox {
  display: none;
}

/*ingame                GameState: 3*/
/* line 185, ../scss/layout.scss */
.ingame .farmerPlayer {
  width: 200px;
  height: 250px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 192, ../scss/layout.scss */
.ingame .farmerEnemy {
  width: 200px;
  height: 250px;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 199, ../scss/layout.scss */
.ingame .blocksign {
  position: absolute;
  text-align: center;
  width: 600px;
  height: 50px;
}
/* line 205, ../scss/layout.scss */
.ingame .s2 {
  top: 675.5px;
}
/* line 209, ../scss/layout.scss */
.ingame .sign {
  display: none;
}
/* line 212, ../scss/layout.scss */
.ingame .farmerEnemy {
  display: none;
}
/* line 215, ../scss/layout.scss */
.ingame .farmerPlayer {
  display: none;
}
/* line 218, ../scss/layout.scss */
.ingame .game {
  width: 540px;
  height: 675px;
  position: absolute;
  top: 38px;
  left: 27px;
}
/* line 225, ../scss/layout.scss */
.ingame .game #plf {
  position: absolute;
  width: 540px;
  height: 315px;
  top: 350px;
}
/* line 231, ../scss/layout.scss */
.ingame .game #ef {
  position: absolute;
  width: 540px;
  height: 315px;
}

/*
.ingame .sign {
    position: absolute;

    text-align: center;
    padding-top: 35px;


    width: 150px;
    height: 150px;
}

/*
.ingame .playerHits {
    top: 20px;
    left: 10px;
}

.ingame .playerLeft {
    top: 200px;
    left: 10px;
}

.ingame .enemyHits {
    bottom: 200px;
    right: 10px;
}

.ingame .enemyLeft {
    bottom: 20px;
    right: 10px;
}
*/
/*Desktop*/
@media screen and (min-width: 1200px) {
  /* line 279, ../scss/layout.scss */
  .game-box {
    margin: 30px auto;
    width: 1200px;
    height: 875px;
  }

  /* line 285, ../scss/layout.scss */
  .header {
    margin: 0 0;
    background-position-x: 50px;
    width: 100%;
    height: 150px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
  }
  /* line 293, ../scss/layout.scss */
  .header #musicButton {
    width: 75px;
    height: 75px;
    font-size: 0.5em;
    margin: 10px 10px;
    float: left;
  }
  /* line 302, ../scss/layout.scss */
  .header .showUser {
    float: right;
    width: 300px;
    margin-right: 30px;
    margin-top: 95px;
  }
  /* line 307, ../scss/layout.scss */
  .header .showUser #helloUser {
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
  }
  /* line 312, ../scss/layout.scss */
  .header .showUser #logoutButton {
    display: block;
    width: 100px;
    height: 30px;
    float: right;
    padding-bottom: 5px;
  }
  /* line 318, ../scss/layout.scss */
  .header .showUser #logoutButton:hover {
    margin-top: -4px;
    width: 108px;
    height: 38px;
  }
  /* line 324, ../scss/layout.scss */
  .header .showUser #dropdownLogout {
    display: none;
  }

  /* line 330, ../scss/layout.scss */
  .content {
    width: 100%;
    height: 725px;
    margin: 0;
    position: relative;
  }

  /* line 339, ../scss/layout.scss */
  .logoutMenu h1 {
    margin-top: 270px;
    margin-left: 755px;
  }
  /* line 343, ../scss/layout.scss */
  .logoutMenu p {
    margin-left: 755px;
  }

  /* line 350, ../scss/layout.scss */
  .pselect .farmer {
    position: absolute;
    bottom: 60px;
    left: 100px;
    height: 550px;
    width: 400px;
  }
  /* line 358, ../scss/layout.scss */
  .pselect .roboFarmer {
    position: absolute;
    bottom: 60px;
    right: 80px;
    height: 550px;
    width: 400px;
  }

  /* line 369, ../scss/layout.scss */
  .pgselect .playerfield {
    width: 540px;
    height: 315px;
    position: absolute;
    top: 195px;
    left: 115px;
  }
  /* line 378, ../scss/layout.scss */
  .pgselect .infobox {
    display: block;
  }

  /* line 386, ../scss/layout.scss */
  .ingame .farmerPlayer {
    width: 200px;
    height: 250px;
    position: absolute;
    display: block;
    bottom: 10px;
    left: 10px;
  }
  /* line 396, ../scss/layout.scss */
  .ingame .farmerEnemy {
    width: 200px;
    height: 250px;
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
  }
  /* line 406, ../scss/layout.scss */
  .ingame .sign {
    position: absolute;
    text-align: center;
    padding-top: 35px;
    display: block;
    width: 150px;
    height: 150px;
  }
  /* line 416, ../scss/layout.scss */
  .ingame .playerHits {
    top: 20px;
    left: 10px;
  }
  /* line 420, ../scss/layout.scss */
  .ingame .playerLeft {
    top: 200px;
    left: 10px;
  }
  /* line 424, ../scss/layout.scss */
  .ingame .enemyHits {
    bottom: 200px;
    right: 10px;
  }
  /* line 428, ../scss/layout.scss */
  .ingame .enemyLeft {
    bottom: 20px;
    right: 10px;
  }
  /* line 432, ../scss/layout.scss */
  .ingame .game {
    width: 540px;
    height: 675px;
    position: absolute;
    top: 25px;
    left: 330px;
  }
  /* line 440, ../scss/layout.scss */
  .ingame .game #plf {
    position: absolute;
    width: 540px;
    height: 315px;
    top: 350px;
  }
  /* line 446, ../scss/layout.scss */
  .ingame .game #ef {
    position: absolute;
    width: 540px;
    height: 315px;
  }

  /* line 456, ../scss/layout.scss */
  .scoreboard .lbh1 {
    padding-top: 30px;
    text-align: center;
  }
  /* line 460, ../scss/layout.scss */
  .scoreboard .table {
    width: 800px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 466, ../scss/layout.scss */
  .scoreboard .returnMenuButton {
    float: right;
    margin-right: 30px;
    padding-top: 5px;
    width: 120px;
    height: 35px;
    text-align: center;
    padding: auto;
  }
  /* line 474, ../scss/layout.scss */
  .scoreboard .returnMenuButton:hover {
    font-size: 18px;
    margin-right: 20px;
    margin-top: -7.5px;
    padding-top: 13px;
    width: 140px;
    height: 50px;
  }
}
/*menu                  GameState: 0*/
/*
.startMenu {
    height: 725px;
    width: 100%;
    position: relative;
}

.startMenu .fld {
    margin-top: 15px;
    width: 100%;
    height: 28%;
}

.startMenu .ftxt {
    font-family: myfont, serif;
    color: #d5b961;
    font-size: 1.5em;
    font-weight: bold;
    height: 100%;
    width: 50%;
    float: right;

    padding-top: 35px;
    text-align: center;
}

.startMenu .fbtn{
    float: left;

    height: 100%;
    width: 50%;

}

.startMenu .playSign {
    width: 230px;
    height: 360px;
    position: absolute;
    top: 140px;
    right: 120px;
}


/*player Select         GameState: 1*/
/*
.pselect .farmer {

    position: absolute;
    bottom: 60px;
    left: 100px;
    height: 550px;
    width: 400px;

}

.pselect .roboFarmer {

    position:absolute;
    bottom: 60px;
    right: 80px;
    height: 550px;
    width: 400px;

}

.pselect .farmer:hover, .pselect .roboFarmer:hover{
    background-color: rgba(71, 255, 0, 0.25);
    border: 5px solid rgba(41, 255, 0, 0.5);
    border-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

/*playground select     GameState: 2*/
                                      /*

.pgselect .playerfield{
    width: 540px;
    height:315px;
    position: absolute;

    top: 195px;
    left: 115px;
}

.pgselect .überschrift {
    padding-top: 30px;
    text-align: center;
}

/*ingame                GameState: 3*/
/*
.ingame .farmerPlayer {
    width: 200px;
    height: 250px;

    position: absolute;

    bottom: 10px;
    left: 10px;
}

.ingame .farmerEnemy {
    width: 200px;
    height: 250px;

    position: absolute;

    top: 10px;
    right: 10px;
}

.ingame .sign {
    position: absolute;

    text-align: center;
    padding-top: 35px;


    width: 150px;
    height: 150px;
}

.ingame .playerHits {
    top: 20px;
    left: 10px;
}

.ingame .playerLeft {
    top: 200px;
    left: 10px;
}

.ingame .enemyHits {
    bottom: 200px;
    right: 10px;
}

.ingame .enemyLeft {
    bottom: 20px;
    right: 10px;
}

.ingame .game {
    width: 540px;
    height: 675px;

    position: absolute;

    top: 25px;
    left: 330px;
}

.ingame .game #plf {
    position: absolute;
    width: 540px;
    height: 315px;
    top: 350px;
}

.ingame .game #ef {
    position: absolute;
    width: 540px;
    height: 315px;
}
*/
