$outline_darkgreen: #56791e;
$darkgreen: darkgreen;
$brown_red: brown;
$red: red;
$black: black;
$white: white;
$darkgrey: rgba(0,0,0,0.7);
$midgrey: rgba(0, 0, 0, .5);
$sand: #c89247;
$lightgrey: rgba(0, 0, 0, 0.2);

/*Design*/

body {

  background-image: url("../html/img/farm.png");
  background-size: cover ;
}

/*Mobile*/

.game-box {
  color: white;
  outline-width: 10px;
  outline-color: $outline_darkgreen;
  outline-style: ridge;
}

.header {
  font-size: 3em;
  background-image: url("../html/img/logograss.png");
  background-size: cover;
  background-position-x: -250px ;
  #musicButton {
    text-align: center;
    background-color: $outline_darkgreen;
    &:hover {
      background-color: $darkgreen;
    }
  }
}

/*GameStates*/

/*Menu                  GameState: 0*/


.content {
  .startMenu {
    @extend .game-box;
    background-image: url("../html/img/menu_neu.png");
    background-position-x: -600px;
    .fbtn {
      img{
        padding: 4px 4px;
        width: 100px;
        height: 100px;
        &:hover{
          padding: 0 0;
          width: 108px;
          height: 108px;
        }
      }
    }
  }
}


.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $darkgrey;
}

.overlay-box {
  padding: 1.5em;
  padding-top: 3em;
  height: 50%;
  width: 30%;
  background-color: $sand;
  border-radius: 25px;
  margin: auto;
  margin-top: 15%;
  opacity: 1;
  box-shadow: 1px 2px 4px $midgrey;
  .btn {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    background-color: $outline_darkgreen;
    font-family: sans-serif;
    color: #dff99a;
    box-shadow: 0 5px 8px 0 $lightgrey, 0 6px 20px 0 $lightgrey;

  }

}

.overlay-content{
  font-size: 18px;
  color: white;
  height: 85%;
  overflow: auto;
  padding-left: 2em;
  padding-right:1.5em;
  margin-right: 5%;

}

.cowWalk {
  background-image: url("../html/img/cow.png");
  position: absolute;
  bottom: 50px;
  left: 75px;
  height: 20%;
  width: 20%;
  background-repeat: no-repeat;
  background-size: contain;

  animation: cowwalk 2.2s steps(15) infinite;
}

.roboCowWalk {
  background-image: url("../html/img/robo-cow.png");
  position: absolute;
  bottom: 50px;
  left: 400px;
  height: 20%;
  width: 20%;
  background-repeat: no-repeat;
  background-size: contain;

  animation: robocowwalk 2.2s steps(15) infinite;

}

@keyframes cowwalk {

  0% {
    bottom: 50px;
    left: 75px;

  }

  10% {
    left: 90px;
    bottom: 70px;
  }
  20% {
    left: 100px;
    bottom: 85px;
  }
  30% {
    left: 110px;
    bottom: 70px;
  }
  40% {
    left: 120px;
    bottom: 50px;
  }
  /*ein sprung*/

  50% {
    left: 130px;
    bottom: 70px;
  }
  60% {
    left: 140px;
    bottom: 85px;
  }
  70% {
    left: 150px;
    bottom: 70px;
  }
  80% {
    left: 160px;
    bottom: 50px;

  }
  85% {
    left: 180px;
    bottom: 65px;
    /*KuhKollison*/

  }

  95% {

    bottom: 100px;
    left: 115px;

  }

  100% {
    bottom: 50px;
    left: 75px;

  }

}

@keyframes robocowwalk {

  0% {
    bottom: 50px;
    left: 400px;

  }

  10% {
    left: 385px;
    bottom: 70px;
  }
  20% {
    left: 375px;
    bottom: 85px;
  }
  30% {
    left: 365px;
    bottom: 70px;
  }
  40% {
    left: 355px;
    bottom: 50px;
  }
  /*ein sprung*/

  50% {
    left: 345px;
    bottom: 70px;
  }
  60% {
    left: 335px;
    bottom: 85px;
  }
  70% {
    left: 325px;
    bottom: 70px;
  }
  80% {
    left: 315px;
    bottom: 50px;

  }
  85% {
    left: 290px;
    bottom: 65px;

  }

  95% {

    bottom: 100px;
    left: 360px;

  }

  100% {
    bottom: 50px;
    left: 400px;

  }

}


/*player select         GameState: 1*/
.content {
  .pselect{
    background-image: url("../html/img/playerselect-bg.png");
    background-size: cover;
    display: none;
    @extend .game-box;
    .farmer {
      background-repeat:no-repeat;
      background-size:contain;
      background-image: url("../html/img/farmer.png");
    }
    .roboFarmer {
      background-repeat:no-repeat;
      background-size:contain;
      background-image: url("../html/img/robo-farmer.png");
      background-position-x: 15px;
    }
    .pshead {
      text-align: center;
      font-family: myfont, serif;
      font-weight: bold;
      color: $brown_red;
      font-size: 3em;
    }
  }
}

/*playground select     GameState: 2*/
.content{
  .pgselect {
    background-image: url("../html/img/playgroundselect-bg.png");
    background-size: cover;
    display: none;
    background-position: -87px;
    @extend .game-box;
    .playerfield{
    background-color: $red;
    opacity: 0.5;
      .überschrift {
        font-size: 3em;
        font-family: myfont, serif;
        color: $brown_red;
      }
    }
  }
}


/*ingame                GameState: 3*/


.content {
  .ingame {
    background-image: url("../html/img/game-bg.png");
    /*background-repeat:no-repeat;*/
    background-size: 190%;
    display:none;
    background-position-x: -270px;
    background-position-y: 20px;
    @extend .game-box;
  }

}

.blocksign {
  background-image: url("../html/img/blocksign.png");
  color: white;
  font-size: 2em;
  .enemyHits{
    float: left;
    padding-left: 20px;
  }
  .enemyLeft{
    float: right;
    padding-right: 20px;
  }
  .playerHits{
    @extend .enemyHits;
  }
  .playerLeft{
    @extend .enemyLeft;
  }
}

/*
.ingame .farmerPlayer {
    background-image: url("../img/farmer.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;

    color: white;
}

.ingame .farmerEnemy {
    background-image: url("../img/robo-farmer.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: none;

}
*/
.ingame {
  .game {
    opacity: 0.5;
    #plf {
      background-color: $darkgreen;
    }
    #ef {
      @extend #plf;
    }
  }
}
/*
.ingame .sign {
    background-image: url("../img/blank-wood-sign-hi.png");
    background-repeat: no-repeat;
    background-size: contain;

    font-size: 2em;
    font-family: myfont, serif;
    color: black;
}*/


@media screen and (min-width: 1200px){
  .header {
    font-size: 3em;
    background-image: url("../html/img/logograss.png");
    background-size: cover;
    background-position-x: 30px;
  }

  .content {
    .startMenu {
      background-image: url("../html/img/menu_neu.png");
      background-position-x: 0px;
      outline-width: 10px;
      outline-color: $outline_darkgreen;
      outline-style: ridge;
    }
    .pgselect {
      background-image: url("../html/img/playgroundselect-bg.png");
      background-size: cover;
      display: none;
      background-position-x: 0px;

      @extend .game-box;
    }
    .ingame {
      background-image: url("../html/img/game-bg.png");
      background-repeat:no-repeat;
      background-size: cover;
      display:none;

      background-position-x: 0px;
      background-position-y: 0px;

      @extend .game-box;

      .farmerPlayer {
        background-image: url("../html/img/farmer.png");
        background-size: contain;
        background-repeat: no-repeat;
        color: $white;
      }
      .farmerEnemy {
        @extend .farmerPlayer;
        background-image: url("../html/img/robo-farmer.png");
      }
      .game {
        opacity: 0.5;
        #plf {
          background-color: $darkgreen;
        }
        #ef {
          @extend #plf;
        }
      }
      .sign {
        background-image: url("../html/img/blank-wood-sign-hi.png");
        background-repeat: no-repeat;
        background-size: contain;

        font-size: 2em;
        font-family: myfont, serif;
        color: $black;
      }
    }
  }

  .blocksign {
    display: none;
  }
  .customCursor{
    cursor: url('../html/img/crosshairblue.png') +15 +15 , auto;

  }

}


/*GameStates*/

/*Menu                  GameState: 0*/
/*
.content.startMenu {
    background-image: url("../img/menu_neu.png");
    outline-width: 10px;
    outline-color: #56791e;
    outline-style: ridge;
}

.startMenu .fbtn img{
    padding: 4px 4px;
    width: 100px;
    height: 100px;
}

.startMenu .fbtn img:hover{
    padding: 0 0;
    width: 108px;
    height: 108px;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}

.overlay-box {
    padding: 1.5em;
    padding-top: 3em;
    height: 50%;
    width: 30%;
    background-color: #c89247;
    border-radius: 25px;
    margin: auto;
    margin-top: 15%;
    opacity: 1;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.overlay-content{
    font-size: 18px;
    color: white;
    height: 85%;
    overflow: auto;
    padding-left: 2em;
    padding-right:1.5em;
    margin-right: 5%;

}
.overlay-box .btn {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #56791e;
    font-family: sans-serif;
    color: #dff99a;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.cowWalk {
    background-image: url("../img/cow.png");
    position: absolute;
    bottom: 50px;
    left: 75px;
    height: 20%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: contain;

    animation: cowwalk 2.2s steps(15) infinite;
}

.roboCowWalk {
    background-image: url("../img/robo-cow.png");
    position: absolute;
    bottom: 50px;
    left: 400px;
    height: 20%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: contain;

    animation: robocowwalk 2.2s steps(15) infinite;

}
/+
@keyframes cowwalk {

    0% {
        bottom: 50px;
        left: 75px;

    }

    10% {
        left: 90px;
        bottom: 70px;
    }
    20% {
        left: 100px;
        bottom: 85px;
    }
    30% {
        left: 110px;
        bottom: 70px;
    }
    40% {
        left: 120px;
        bottom: 50px;
    }
    /*ein sprung*/
/*
    50% {
        left: 130px;
        bottom: 70px;
    }
    60% {
        left: 140px;
        bottom: 85px;
    }
    70% {
        left: 150px;
        bottom: 70px;
    }
    80% {
        left: 160px;
        bottom: 50px;

    }
    85% {
        left: 180px;
        bottom: 65px;
        /*KuhKollison*/
/*
    }
/*
    95% {

        bottom: 100px;
        left: 115px;

    }

    100% {
        bottom: 50px;
        left: 75px;

    }

}

@keyframes robocowwalk {

    0% {
        bottom: 50px;
        left: 400px;

    }

    10% {
        left: 385px;
        bottom: 70px;
    }
    20% {
        left: 375px;
        bottom: 85px;
    }
    30% {
        left: 365px;
        bottom: 70px;
    }
    40% {
        left: 355px;
        bottom: 50px;
    }
    /*ein sprung*/
/*
    50% {
        left: 345px;
        bottom: 70px;
    }
    60% {
        left: 335px;
        bottom: 85px;
    }
    70% {
        left: 325px;
        bottom: 70px;
    }
    80% {
        left: 315px;
        bottom: 50px;

    }
    85% {
        left: 290px;
        bottom: 65px;

    }

    95% {

        bottom: 100px;
        left: 360px;

    }

    100% {
        bottom: 50px;
        left: 400px;

    }

}


/*player select         GameState: 1*/
/*
.content.pselect{
    background-image: url("../img/playerselect-bg.png");
    background-size: cover;
    display: none;
    outline-width: 10px;
    outline-color: #56791e;
    outline-style: ridge;
}

.pselect .farmer {
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url("../img/farmer.png");
}

.pselect .roboFarmer {
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url("../img/robo-farmer.png");
    background-position-x: 15px
}

.pselect .pshead {
    text-align: center;
    font-family: myfont, serif;
    font-weight: bold;
    color: #af000d;
    font-size: 3em;
}

/*playground select     GameState: 2*/
/*
.content.pgselect {
    background-image: url("../img/playgroundselect-bg.png");
    background-size: cover;
    display: none;

    outline-width: 10px;
    outline-color: #56791e;
    outline-style: ridge;
}

.pgselect .playerfield{
    background-color: red;
    opacity: 0.5;
}

.pgselect .überschrift {
    font-size: 3em;
    font-family: myfont, serif;
    color: brown;
}

/*ingame                GameState: 3*/
/*
.content.ingame {
    background-image: url("../img/game-bg.png");
    background-repeat:no-repeat;
    background-size: cover;
    display:none;

    outline-width: 10px;
    outline-color: #56791e;
    outline-style: ridge;
}

.ingame .farmerPlayer {
    background-image: url("../img/farmer.png");
    background-size: contain;
    background-repeat: no-repeat;

    color: white;
}

.ingame .farmerEnemy {
    background-image: url("../img/robo-farmer.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

.ingame .game {
    opacity: 0.5;
}

.ingame .game #plf {
    background-color: darkgreen;
}

.ingame .game #ef {
    background-color: darkgreen;
}

.ingame .sign {
    background-image: url("../img/blank-wood-sign-hi.png");
    background-repeat: no-repeat;
    background-size: contain;

    font-size: 2em;
    font-family: myfont, serif;
    color: black;
}
.customCursor{
    cursor: url('../img/crosshairblue.png') +15 +15 , auto;

}